.container {
    width: 50vw;
    align-self: center;
    margin: 18vh auto 2vh auto;
}

.flex {
    display: flex;
    flex-direction: column;
}

img {
    align-self: center;
}

.date {
    color: #B5ACAC;
}

@media screen and (max-width: 500px) {
    .container {
        width: 80vw;
        margin: auto;
    }
}