.body {
    display: flex;
    margin: 0 1em;
    flex-direction: column;
    font-weight: 260;
}

.contentStyle {
    margin: 0 auto;
    /* max-width: 60vw; */
    /* padding-top: 20vh; */
    padding: 12vh 1em 1em 1em;
    
}

.footer {
    text-align: center;
}

