.body {
    display: flex;
    margin: 0 1em;
    flex-direction: column;
    font-weight: 260;
    box-sizing: border-box;
}

.contentStyle {
    margin: 0 auto;
    padding: 100px 1em 1em 1em;
    z-index: 0;
}

.footer {
    align-items: 'center';
    z-index: 2;
}

@media screen and (max-width: 500px) {
    .body {
        margin: 0 1vw;
    }
    .contentStyle {
        padding: 100px 0;
        margin: 0 0 2vh 0;
    }
    .footer {
        position: fixed;
        bottom: 0;
        align-self: center;
        background: white;
        z-index: 3;
        width: 100vw;
    }
}

